<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="ml-5">
            <img src="images/logo.png" alt="logo" height="55px">
        </div>
        <a class="navbar-brand" href="/category">ProductBoard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navhead" class="navbar-nav ml-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/category">Category</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/product">Product</a>
                </li>
            </ul>
            <button type="button" class="btn btn-info btn_logout rounded-circle mx-2"><i class="fas fa-sign-out-alt"></i></button>
        </div>
    </div>
</nav>